/* Style for the entire registration container */
.registration-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
}

/* Style for the registration form heading */
.registration-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.navbar-grid {
  background-color: #dde9ea;
  /* margin: 10px;  */
}

/* Style for the form fields */
.registration-container form div {
  margin-bottom: 15px;
}

/* Style for labels */
.registration-container label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 20%;
}

/* Style for input fields */
.registration-container input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left:20% ;
}

/* Style for the submit button */
.registration-container button[type="submit"] {
  display: block;
  width: 80%;
  padding: 10px;
  background-color: #55C2C3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20%;
}

/* Hover effect for the submit button */
.registration-container button[type="submit"]:hover {
  background-color: #2d9597;

}
/* Style for the entire registration container */
.registration-container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
}

/* Style for the image container */
.image-container {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  
  max-width: 160%; 
  max-height: 200%; 
  margin-left: 40%; 
}

/* Style for the form container */
.form-container {
  flex: 2;
  padding: 20px;
}

.navbar-icon-img {
  height: 60px;
}

.search-bar {
  width: 90%;
  margin-top: 25px; /* Adjust the margin as needed */
}
.logo-label {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  color: #1d63a9; /* Adjust color as needed */
  text-shadow: 2px 2px 4px rgb(181, 188, 195);
}

.navbar-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 950px; /* Adjust the margin as needed */
  
}

.navbar-buttons button {
  margin-right: 6px;
}
.navbar-icon-img {
  max-width: 100px;
  height: auto;
}
